@{
    string cardCss = "badge-primary";
}
@model List<ResultBookingDto>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Son 10 Rezarvasyon</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table student-data-table m-t-20">
                        <thead>
                            <tr>
                                <th>Ad Soyad</th>
                                <th>İl</th>
                                <th>İlçe</th>
                                <th>Rezervasyon Tarihi</th>
                                <th>Durumu</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.NameSurname</td>
                                    <td>@item.Province</td>
                                    <td>@item.District</td>
                                    <td>@(((DateTime)item.Date).ToShortDateString())</td>
                                    @if (item.Status == "Onaylandı")
                                    {
                                        cardCss = "badge-success";
                                    }
                                    @if (item.Status == "İptal Edildi")
                                    {
                                        cardCss = "badge-danger";
                                    }
                                    @if (item.Status == "Beklemede, Kullanıcı Aranacak")
                                    {
                                        cardCss = "badge-warning";
                                    }
                                    @if (item.Status == "Onay Bekliyor")
                                    {
                                        cardCss = "badge-primary";
                                    }

                                    <td>
                                        <span class="badge @cardCss">@item.Status</span>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>